body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #405;

  }
h1{
    font-size: 5.625em;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:#083835
  }
.p2{
    font-size: 1.625em;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:#083835
  }

h2{
  font-size: 2.625em;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight:normal;
}
h3{

  font-family: 'Montserrat', sans-serif;
  color:#11999E
}
.top{
  background-color:#4cd3c2;
  position: relative;
  padding-top: 100px;

}

.middle-container{

}
.bottom-container{

}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align:left;
line-height: 2;
}
.c1{
position: absolute;
right: 300px;
top: 50px;
}
.c2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.d1{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.d2{
  width: 55%;
  float: right;
}
